.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  margin-bottom: 8px;
}

.form__input {
  height: 60px;
  margin-bottom: 32px;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 4px;
  width: 100%;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  margin-bottom: 32px;
  height: 60px;
  border-radius: 4px;
  background-color: #2f80ed;
  width: 100%;
}

.form__label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__input-checkbox {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
