.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;

  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  min-height: 820px;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-left: 30px;
  margin-top: 30px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin-right: 80px;
  margin-top: 30px;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  padding-right: 20px;
}

.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  margin-top: 183px;
  margin-left: 80px;
}

.header__span-accent {
  font-family: "Noto Serif", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__span-accent + span {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  font-family: "Noto Serif", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /*color: #4f4f4f;*/
  max-width: 683px;
  margin-left: 80px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 80px;
  bottom: 40px;
  right: 80px;
}

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  color: #ffffff;

  margin: 100px auto 24px 80px;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #d6d6d6;

  margin: 0 auto 80px 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 215px;
}

.recipes__video {
  width: 480px;
  height: 273px;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-description {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #e0e0e0;

  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
}

.reservation__form-container {
  max-width: 385px;
  margin-top: 80px;
  margin-bottom: 120px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  margin-bottom: 8px;
}

.form__input {
  height: 60px;
  margin-bottom: 32px;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 10px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  margin-bottom: 32px;
  height: 60px;
  border-radius: 10px;
  background-color: #2f80ed;
}

.form__label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__input-checkbox {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
